@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

/*custom properties*/
:root {
  --white-color: #fff;
  --black-color: rgb(2, 2, 2);
  --blue-color: rgb(17, 10, 44);
  --orange-color: rgb(175, 90, 10);
  --lighter-color: #f0ece6;

  --largefont-size: 2.3rem;
  --medfont-size: 1.8rem;
  --hfont-size: 1.5rem;
  --minifont-size: 1.2rem;
  --bodyfont-size: 1rem;
}

body {
  background: var(--white-color);
  color: var(--black-color);
  width: 100%;
}

/*Header beginning*/
header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  background: var(--blue-color);
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
}

.cart-bag {
  display: flex;
  color: white;
}

.logo {
  color: yellow;
  font-size: var(--minifont-size);
  font-weight: 700;
}

.bag-quantity {
  display: block;
  height: 20px;
  width: 20px;
  background: yellow;
  font-size: 13px;
  color: black;
  margin-left: 2px;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
}

.loginlogout {
  display: flex;
  color: #f0ece6;
  flex-direction: column;
}

.login {
  color: white;
}

.logout {
  color: yellow;
}

.register {
  color: yellow;
}

.not-found {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  color: #3d3c3c;
  align-items: center;
}

.not-found-head {
  display: inline-flex;
  color: #313131;
  padding-top: 120px;
  padding-bottom: 20px;
  font-size: 100px;
  font-weight: 700;
}

.not-found-text {
  display: inline-flex;
  color: #3d3c3c;
  font-size: var(--medfont-size);
  font-weight: 400;
}

/*Home*/
.home {
  padding-left: 24px;
  padding-right: 24px;
}

.home-heading {
  margin-top: 20px;
  display: block;
  font-size: var(--hfont-size);
  font-weight: 700;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 5px;
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(94, 104, 121, 0.3),
    2px 2px 5px rgba(94, 104, 121, 0.3), 2px 2px 5px rgba(94, 104, 121, 0.3),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}
.product-name {
  font-size: 16px;
  font-weight: 700;
}
.product img {
  margin-top: 4px;
  height: 120px;
}
.details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}
.product .details .price {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 8px;
}

.product button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: yellow;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Cart */
.cart-container {
  padding: 24px;
}

.cart-container h2 {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.cart-container .titles {
  margin-top: 30px;
}

.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 1rem;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 60px;
  margin-right: 5px;
}

.product-desc {
  width: 50px;
}

.cart-item .cart-product h3 {
  font-size: 15px;
  font-weight: 700;
}

.cart-item .cart-product p {
  font-size: 13px;
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 64px;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 0.6rem;
  cursor: pointer;
}
.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
  font-weight: 700;
}

/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: yellow;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.register-head {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: var(--minifont-size);
  font-weight: 700;
  margin-bottom: 10px;
}

input {
  display: block;
  margin-bottom: 5px;
  margin-left: 10%;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #000;
}

.register-button {
  margin-left: 10%;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background: yellow;
  border: 1px solid #000;
  color: black;
}

.login-head {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: var(--minifont-size);
  font-weight: 700;
  margin-bottom: 10px;
}

.login-button {
  margin-left: 10%;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background: yellow;
  border: 1px solid #000;
  color: black;
}
